.container-0 {
  background-color: #eee
}
.button-1 {
  background-color: #2b78e4;
  border: 1px solid #000;
  -webkit-box-shadow: 4px 4px 0 0 #000;
  box-shadow: 4px 4px 0 0 #000
}
.text-2,
.text-3 {
  text-align: center;
  font-family: BalsamiqSans,sans-serif
}
.text-2 {
  font-weight: 700;
  color: #fff;
  font-size: 14px
}
.text-3 {
  color: #333;
  font-size: 35px
}
.container-4 {
  background-color: #cf2a27
}
.text-5,
.text-7 {
  color: #fff;
  font-family: BalsamiqSans,sans-serif;
  font-size: 30px
}
.text-7 {
  color: #666;
  text-align: center;
  font-size: 22px
}
.container-9 {
  background-color: #333
}
.text-10 {
  color: #fff;
  font-family: BalsamiqSans,sans-serif;
  font-size: 30px
}
.button-11 {
  background-color: #999;
  border: 1px solid #000;
  -webkit-box-shadow: 4px 4px 0 0 #000;
  box-shadow: 4px 4px 0 0 #000
}
.text-12,
.text-14,
.text-15 {
  font-family: BalsamiqSans,sans-serif
}
.text-12 {
  text-align: center;
  font-size: 14px
}
.text-14,
.text-15 {
  color: #fff;
  font-size: 35px
}
.text-15 {
  text-align: center;
  font-size: 19px
}
.container-16 {
  background-color: #fff;
  border: 1px solid #333
}
.button-17 {
  background-color: #cf2a27;
  border: 1px solid #000;
  -webkit-box-shadow: 4px 4px 0 0 #000;
  box-shadow: 4px 4px 0 0 #000
}
.text-18,
.text-19,
.text-20 {
  color: #fff;
  font-family: BalsamiqSans,sans-serif
}
.text-18 {
  text-align: center;
  font-weight: 700;
  font-size: 14px
}
.text-19,
.text-20 {
  font-size: 19px
}
.container-21 {
  background-color: #333
}
.container-23 {
  background-color: #eee
}
.image-28 {
  background-image: url(https://designresources.assets.yotako.io/2017-12-22-16-37:1513960637853);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.container-31 {
  background-color: #666
}
.text-33 {
  color: #eee;
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.container-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 99.818%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.container-4,
.home-container-0-container-1-row-0 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-4 {
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 16.181%
}
.home-container-0-container-1-row-0 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 35px 0 0 4.76%;
  width: 82.222%;
  height: 43.82%
}
.text-5 {
  width: 52.123%;
  z-index: 6
}
.image-6,
.text-3,
.text-5,
.text-7 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-6 {
  height: 76.923%;
  margin: 0 0 0 36.29%;
  width: 11.583%;
  z-index: 7
}
.text-3,
.text-7 {
  margin: 17px 0 0 8.88%;
  width: 81.269%;
  z-index: 4
}
.text-7 {
  margin: 14px 0 0 9.84%;
  width: 79.365%;
  z-index: 8
}
.image-8 {
  margin: 19px 0 0 30.47%;
  width: 37.46%;
  height: 21.09%;
  z-index: 9
}
.button-1,
.image-8,
.text-2 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.button-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  height: 12%;
  margin: 19px 0 0 27.93%;
  width: 43.492%;
  z-index: 1
}
.text-2 {
  margin: 32px 0 0;
  width: 100%;
  z-index: 2
}
.container-9,
.login-container-0-row-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-9 {
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.login-container-0-row-0 {
  position: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 33px 0 0 5.07%;
  width: 90.476%;
  height: 7.078%
}
.button-11,
.text-10 {
  position: initial;
  width: 47.368%;
  z-index: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.button-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 6px 0 0 30.52%;
  width: 22.105%;
  height: 69.23%;
  z-index: 2
}
.text-12 {
  margin: 8px 0 0;
  width: 100%;
  z-index: 3
}
.image-13,
.text-12,
.text-14 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-13 {
  height: 16.333%;
  margin: 17px 0 0 35.23%;
  width: 28.571%;
  z-index: 5
}
.text-14 {
  margin: 0 0 0 1.9%;
  width: 95.555%;
  z-index: 6
}
.button-17,
.container-16,
.text-15 {
  position: initial;
  margin: 17px 0 0 11.42%;
  width: 76.19%;
  z-index: 7;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.button-17,
.container-16 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 12px 0 0 1.9%;
  width: 96.507%;
  height: 1.814%;
  z-index: 8
}
.button-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 56px 0 0 2.22%;
  width: 94.92%;
  height: 11.978%;
  z-index: 9
}
.text-18,
.text-19,
.text-20 {
  position: initial;
  margin: 32px 0 0;
  width: 100%;
  z-index: 10;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.text-19,
.text-20 {
  margin: 30px 0 0 15.23%;
  width: 68.571%;
  z-index: 12
}
.text-20 {
  margin: 11px 0 0 11.42%;
  width: 76.19%;
  z-index: 13
}
.app-container-0-row-0,
.container-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-21 {
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 100%;
  height: 12.341%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.app-container-0-row-0 {
  position: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 40px 0 0 1.26%;
  width: 95.873%;
  height: 32.352%
}
.image-28,
.image-29,
.image-30 {
  position: initial;
  width: 6.622%;
  height: 90.909%;
  z-index: 7;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-29,
.image-30 {
  margin: 0 0 0 2.98%;
  z-index: 8
}
.image-30 {
  margin: 0 0 0 3.31%;
  z-index: 9
}
.app-container-0-row-0-container-2-row-0,
.container-31 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-31 {
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 0 28.14%;
  width: 45.695%;
  height: 100%
}
.app-container-0-row-0-container-2-row-0 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 1px 0 0 5.79%;
  width: 67.391%;
  height: 90.909%
}
.image-32,
.text-33 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-32 {
  height: 60%;
  width: 15.053%;
  z-index: 11
}
.text-33 {
  margin: 0 0 0 17.2%;
  width: 67.741%;
  z-index: 12
}
.container-23 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 11px 0 0;
  width: 100%;
  height: 105.882%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.app-container-0-container-1-row-0 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 2px 0 0 1.26%;
  width: 97.46%;
  height: 94.444%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-24,
.image-25,
.image-26,
.image-27 {
  position: initial;
  width: 21.498%;
  height: 89.705%;
  z-index: 3;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-25,
.image-26,
.image-27 {
  width: 22.475%;
  height: 100%;
  z-index: 4
}
.image-26,
.image-27 {
  width: 24.755%;
  height: 85.294%;
  z-index: 5
}
.image-27 {
  width: 21.498%;
  height: 80.882%;
  z-index: 6
}
.image-22 {
  margin: 82px 0 0;
  width: 99.682%;
  height: 74.954%;
  z-index: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}